NODE_ENV=development
PORT= 3000

DATABASE_TYPE=mongodb
DATABASE_HOST= localhost
DATABASE_PORT= 27017
DATABASE_USERNAME= xxxxxx
DATABASE_PASSWORD= yyyyyyyy
DATABASE_NAME= boilerplate
DATABASE_URI= zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz