# ==========================================
# CONFIGURAÇÕES GERAIS DA APLICAÇÃO (CORE)
# ==========================================
# NODE_ENV: Define o ambiente de execução (development, production, stage, test)
NODE_ENV=development
# PORT: Porta em que a aplicação será executada localmente ou no container
PORT=3000

# APP_NAME: Nome comercial e identificativo da aplicação
APP_NAME=Boilerplate_Enterprize
# APP_TIMEZONE: Fuso horário em que o Node/Datas devem operar por padrão (ex: UTC, America/Sao_Paulo)
APP_TIMEZONE=UTC
# APP_LOCALE: Idioma base para formatações visuais (ex: pt-BR, en-US)
APP_LOCALE=pt-BR

# ==========================================
# BANCO DE DADOS (PERSISTÊNCIA PRINCIPAL)
# ==========================================
# DATABASE_TYPE: Define o drive do banco suportado e acionado pelo contêiner (ex: mongodb, postgres)
DATABASE_TYPE=mongodb
# Credenciais Básicas (Host, Porta, Nome do Banco e Conexão)
DATABASE_HOST= localhost
DATABASE_PORT= 27017
DATABASE_USERNAME= xxxxxx
DATABASE_PASSWORD= yyyyyyyy
DATABASE_NAME= boilerplate
# DATABASE_URI: Caso utilize provedores externos (ex: Mongo Atlas) insira a string completa aqui (sobrescreve credenciais separadas)
DATABASE_URI= zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
# DATABASE_ID_DEFAULT: Definição do id padrão para a geração de chaves primárias das tabelas (ex: uuidv7)
DATABASE_ID_DEFAULT= uuidv7

# EMAIL_TO_CONTACT: E-mail padrão emissor do sistema (suporte, envios automatizados)
EMAIL_TO_CONTACT= umemailpara@contato.com

# ==========================================
# HASHER & SEGURANÇA ESTRUTURAL
# ==========================================
## Em relação ao módulo de hasher, recomendo forttemente testar em modo staging antes do lançamento para perceber se a dureza da aplicação é bem refletida em relação a segurança que ela reuqer
# por momento o boilerplate suporta apenas aargon2 e bcrypt, ainda assim é importante estar settado isto
HASHER_PROVIDER= bcrypt
# minha recomendação é gerar uma chave sha256 porém uma vez criado nunca altere este valor de forma alguma, caso isso aconteça nenhum usuário será capaz de entrar novmente na sua aplicação
HASHER_SECURITY_PEPPER= !UmTokenQueJamaisDeveSerPerdido@64
# dẽ preferência  a números maiores, e teste em relação ao seu servidor especifico
HASHER_SALT_LENGTH= 16
# um número de cores sendo dobro ou triplo de cores disponíveis, eu gosto de trbalhar com 16 ppor segurança, mas em prod deixar com custo padrão
HASHER_PARALLELISM= 16
# por default é 3, acima disso pode deixar mais lento
HASHER_TIME_COST= 3
# sempre por default é isso mas podemos deixar maior caso necessário e a depender da cíticicidade da aplicação
HASHER_MEMORY_COST= 65536

# ==========================================
# IDENTIFICADORES (TOKENS & URLS)
# ==========================================
# Identidades gerais utilizadas para sessões, chaves públicas, links expiráveis ou metadados da aplicação.
IDENTIFIER_PATTERN= nanoid
# Alfabeto customizado do Nanoid para ser estritamente URL-safe
IDENTIFIER_NANOID_ALPHABET= ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_
# Tamanho padrão do id (21 costuma possuir probabilidade muito minúscula de colisão)
IDENTIFIER_NANOID_SIZE= 21

# ==========================================
# BANCO DE DADOS EM MEMÓRIA (Caches / Sockets)
# ==========================================
# MEM_DB_TYPE: Driver suportado para gerenciar a instância localmente (redis ou valkey)
MEM_DB_TYPE=valkey
# MEM_DB_PROTOCOL: Protocolo formal de comunicação (redis, valkey, valkeys)
MEM_DB_PROTOCOL=valkey
# MEM_DB_HOST: Host da instância
MEM_DB_HOST=localhost
# MEM_DB_PORT: Porta de conexão em TCP
MEM_DB_PORT=6379
# MEM_DB_USERNAME: (Opcional) Usuário para conexões ACL 6.0+ 
MEM_DB_USERNAME=
# MEM_DB_PASSWORD: E estritamente verificado p/ Produção. Mínimo 15 caracteres contendo Minúsculas, Maiúsculas, Números e Símbolos!
MEM_DB_PASSWORD=
# MEM_DB_INDEX_OR_PATH: Database Index (geralmente de 0 a 16) ou um Caminho Absoluto Unix se tiver utilizando Sockets (.sock)
MEM_DB_INDEX_OR_PATH=0
