NODE_ENV=development
PORT= 3000

APP_NAME=Boilerplate_Enterprize
APP_TIMEZONE=UTC
APP_LOCALE=pt-BR

DATABASE_TYPE=mongodb
DATABASE_HOST= localhost
DATABASE_PORT= 27017
DATABASE_USERNAME= xxxxxx
DATABASE_PASSWORD= yyyyyyyy
DATABASE_NAME= boilerplate
DATABASE_URI= zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz


EMAIL_TO_CONTACT= umemailpara@contato.com

## Em relação ao módulo de hasher, recomendo forttemente testar em modo staging antes do lançamento para perceber se a dureza da aplicação é bem refletida em relação a segurança que ela reuqer
# por momento o boilerplate suporta apenas aargon2 e bcrypt, ainda assim é importante estar settado isto
HASHER_PROVIDER= bcrypt 
# minha recomendação é gerar uma chave sha256 porém uma vez criado nunca altere este valor de forma alguma, caso isso aconteça nenhum usuário será capaz de entrar novmente na sua aplicação
HASHER_SECURITY_PEPPER= !UmTokenQueJamaisDeveSerPerdido@64
# dẽ preferência  a números maiores, e teste em relação ao seu servidor especifico 
HASHER_SALT_LENGTH= 16 
# um número de cores sendo dobro ou triplo de cores disponíveis, eu gosto de trbalhar com 16 ppor segurança, mas em prod deixar com custo padrão
HASHER_PARALLELISM= 16
# por default é 3, acima disso pode deixar mais lento 
HASHER_TIME_COST= 3 
# sempre por default é isso mas podemos deixar maior caso necessário e a depender da cíticicidade da aplicação
HASHER_MEMORY_COST= 65536 