{
  "extends": [
    "../.eslintrc" // Herda do arquivo principal
  ],
  "rules": {
    // Regras específicas para backend
    "react/jsx-filename-extension": "off" // Desativa a regra react/jsx-filename-extension
  }
}
